<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>

    <style>
		svg rect {
			fill: cadetblue;
		}
            
		svg text {
			fill: rgb(40, 70, 116);
			font: 12px sans-serif;
			text-anchor: end;
		}
	</style>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		function test(d) {
			alert("Clicked: " + d.newsportal);
		}

	</script>
</head>

<body>
	
	<h2><%= event %></h2>
	<p>&#9654; wurde insgesamt <%= sum %> Mal im Titel eines Artikels der nachfolgend aufgelisteten Zeitungen erw&auml;hnt.</p>
	
     
	<script>
		var data2 = <%- JSON.stringify(results) %>;
         
        var width = 3000 
			scaleFactor = 2, 
			barHeight = 30;
                
        var graph = d3.select("body")
            .append("svg")
            .attr("width", width)
            .attr("height", barHeight * data2.length);       
                
        var bar = graph.selectAll("g")
            .data(data2)
			.enter()
			.append("g")
			.attr("transform", function(d, i) {
				return "translate(200," + i * barHeight + ")";
			});
		bar.append("rect")
			.attr("width", function(d) {
				return d.count * scaleFactor;
			})
			.attr("height", barHeight - 1)
			.on("click", test);
                
		bar.append("text")
			.attr("x", function(d) {return -5;}) 
			.attr("y", barHeight / 2)
			.attr("dy", ".35em")
			.text(function(d) { return d.newsportal; });		

		bar.append("text")
			.attr("x", function(d) {
				var space = 10;
				if (d.count > 9) space = 15;
				if (d.count > 99) space = 20;
				if (d.count > 999) space = 30;
				return (d.count*scaleFactor + space); })
			.attr("y", barHeight / 2)
			.attr("dy", ".35em")
			.text(function(d) { return d.count; });	
    </script>

	<p><% results.forEach(function(input) { %>
		<li><%= input.newsportal %> - <%= input.count %></li>
		<% }); %></p>
		
</body>
</html>